---
import EventServiceLayout from "./EventServiceLayout.astro";
import portraitImage from "../../../assets/images/perth-event-photography/portrait.jpg";
---

<EventServiceLayout
  imageSrc={portraitImage}
  imageAlt="Perth photographer capturing portrait at an event"
  reverse={true}
  contentBackground="var(--e-global-color-fadab83, #4a2e1c)"
  contentTextColor="#E8D8C3"
>
  <div class="event-service__heading">
    <span class="event-service__title">On-site Portraits &amp; Sessions</span>
  </div>

  <div class="event-service__copy">
    <p>
      <strong>Portraits at your event:</strong>
      We can create simple, flattering portraits of speakers, VIPs, teams or
      families as part of your event coverage, giving you versatile imagery for
      profiles, marketing and personal keepsakes.
    </p>
    <p>
      <strong>Calm, guided experience:</strong>
      Whether we&apos;re photographing a keynote speaker, a small team or a
      couple celebrating a milestone, we provide gentle direction so people feel
      relaxed and confident in front of the camera.
    </p>
    <p>
      <strong>Other photography on request:</strong>
      While event and commercial work are our main focus, we do take on a
      limited number of portrait and family sessions outside of events. If you
      love our style, get in touch and we&apos;ll let you know if we&apos;re
      available for your project.
    </p>
  </div>

  <a
    href="/contact/"
    class="event-service__button event-service__button--light"
  >
    CONTACT
  </a>
</EventServiceLayout>
