---
import BaseLayout from "./layouts/BaseLayout.astro";
import ContactForm from "./components/ContactForm.astro";
import FaqSection from "./components/home/HomeFaqSection.astro";
import HomeHero from "./components/home/HomeHero.astro";
import HomeIntro from "./components/home/HomeIntro.astro";
import HomeServices from "./components/home/HomeServices.astro";
import HomeWhyUs from "./components/home/HomeWhyUs.astro";
import HomeHeroSlideshow from "./components/home/HomeHeroSlideshow.astro";
import HeroNew from "./components/home/HeroNew.astro";
import HomeImageCollage from "./components/home/HomeImageCollage.astro";

const pageTitle = "Perth Food Photographer | AmplifyCreativeLab";
const pageDescription =
  "Perth food photographer specializing in restaurant imagery for menus, websites & socials.";
---

<BaseLayout title={pageTitle} description={pageDescription}>
  <main class="page-home">
    <HeroNew />
    
    
    <HomeIntro />

    <HomeServices />
    <HomeWhyUs></HomeWhyUs>

    <HomeImageCollage />

    <FaqSection />

    <ContactForm />
  </main>
</BaseLayout>
